@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

/* #header {
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
} */

#profile-link {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

#account-dropdown,
#mode {
  /* background-color: #11182756; */
  /* background: rgba(255, 255, 255, 0.25); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#notification {
  /* transform: translate(21px, -8px); */
  transform: translate(31px, -12px);
}

/* for button */
.btn-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  color: white !important;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    rgb(14 165 233),
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* for icon */
#icon {
  border-radius: 50%;
  border: 2px solid rgb(14 165 233);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
}
#icon:hover {
  box-shadow: 0 0 20px rgb(14 165 233);
}

#icon:hover {
  /* color: #0ea5e9; */
  box-shadow: 0 0 12px rgb(14 165 233);
}

/* user Profile */
span.relative.flex.h-10.w-10.shrink-0.overflow-hidden.rounded-full {
  display: none !important;
}
